node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
dist/
build/
coverage/
.env.*
.DS_Store
*.log
logs/
pids/
*.pid
*.seed
*.pid.lock
tmp/
temp/
*.swp
*.swo
.idea/
.vscode/
*.tgz
.wwebjs_auth/
.wwebjs_cache/